body {
    font-family: 'Ubuntu', sans-serif;
    /* font-weight: 500; */
    background-color: #141414;
    color: whitesmoke;

}

.col-md-6 {
    background-color: #141414;
}

h1 {
    padding: 20px 10px;
    font-weight: 400;
    font-style: oblique;
    color: whitesmoke;
}

.form-control {
    border: transparent;
    outline: transparent;
    border-radius: 0;
}

.form-control:focus {
    border: transparent;
    outline: transparent;
    box-shadow: none;
}

.btn {
    box-shadow: none;
    border: transparent;
    outline: transparent;
    border-radius: 0;
    background-color: white;
}

.btn:focus {
    box-shadow: none;
    border: transparent;
    outline: transparent;
}
.badge {
    font-weight: 400;
}
.badge-primary {
    background-color: slateblue;
    border-radius: 0;
}
textarea {
    resize: none;
}

.myRange {
    -webkit-appearance: none;
    width: 100%;
    height: 16px;
    background: whitesmoke;
    outline: none;
    opacity: 1;
  }
  
  .myRange::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    background: slateblue;
    cursor: pointer;
  }